rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ------------------------------------------------------------------------
    // Helper Functions
    // ------------------------------------------------------------------------

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    // ------------------------------------------------------------------------
    // User Data Rules
    // ------------------------------------------------------------------------
    
    match /users/{userId} {
      allow read, write: if isSignedIn();
    }

    match /users/{userId}/documents/{documentId} {
      allow read, write: if isOwner(userId);
    }
    
    match /users/{userId}/samples/{sampleId} {
      allow read, write: if isOwner(userId);
    }

    // Regla robusta para la colección de pruebas
    // Permite lectura y escritura a cualquier usuario autenticado
    match /tests/{testId} {
      allow read, write: if isSignedIn();
    }

    // Permitir consultas de grupo de colecciones para 'samples'
    match /{path=**}/samples/{sampleId} {
       allow read: if isSignedIn();
    }
  }
}